---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Portfolio BTS SIO | Mathias Dabsence" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Présentation de l'épreuve E5</div>
  </div>

  <h3 style="text-decoration: underline; font-size: x-large">Objectif : </h3> <br>
  <p style="text-align: justify"> <span class="alinea-text"> Cette </span> épreuve vise à évaluer chez la personne candidate
    l’acquisition des compétences décrites dans le bloc de compétences « Support et mise à disposition de services informatiques »
  </p>
  <br>
  <h3 style="text-decoration: underline; font-size: x-large">Modalités d'évaluation : </h3> <br>
  <p><b>Forme ponctuelle orale (durée 40 minutes) :</b></p><br>
  <p style="text-align: justify"> <span class="alinea-text"> L’épreuve</span> comporte deux phases consécutives.
    Pendant 10 minutes (maximum) la personne candidate présente son parcours de professionnalisation et justifie les modalités
    d’acquisition des compétences du bloc « Support et mise à disposition de services informatiques ».
    S’en suit 30 minutes d’échange avec le jury qui permettent, d’une part, d’expliciter et d’apprécier le parcours de
    professionnalisation et, d’autre part, d’approfondir une ou plusieurs réalisations décrites dans le dossier numérique.
    L’entretien permet d’apprécier la capacité de la personne candidate à mobiliser les compétences visées, sa capacité à
    rendre compte d’un travail réalisé au sein d’une équipe projet en mettant clairement en évidence sa contribution personnelle.
  </p>

  <br>
  <br>
  <br>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Présentation de l'épreuve E6</div>
  </div>

  <h3 style="text-decoration: underline; font-size: x-large">Objectif : </h3> <br>
  <p style="text-align: justify"> <span class="alinea-text"> Cette </span> épreuve vise à évaluer chez la personne candidate
    l’acquisition des compétences décrites dans le bloc de compétences « Administration des systèmes et des réseaux »
    propre à l’option « Solutions d’infrastructure, systèmes et réseaux », à savoir : <br><br>
    - concevoir une solution d’infrastructure réseau<br>
    - installer, tester et déployer une solution d’infrastructure réseau<br>
    - exploiter, dépanner et superviser une infrastructure réseau
  </p>
  <br>
  <h3 style="text-decoration: underline; font-size: x-large">Critères d'évaluation : </h3> <br>
  <p style="text-align: justify"> <span class="alinea-text"> L’épreuve</span> prend appui sur deux réalisations professionnelles
    composant le dossier remis par la personne candidate. Ces réalisations professionnelles mobilisent les ressources décrites
    dans le référentiel de certification pour le bloc « Administration des systèmes et des réseaux ».
  </p>
  <br>
  <h3 style="text-decoration: underline; font-size: x-large">Modalités d'évaluation : </h3> <br>
  <p><b>Forme ponctuelle pratique et orale : 40 min (+1h30 de préparation) :</b></p><br>
  <p><u>Phase 1 – préparation de 30 minutes suivie d’un entretien de 20 minutes maximum :</u></p>
  <p style="text-align: justify"> <span class="alinea-text"> Sur </span> la base d’une expression de besoins remise à la personne
    candidate et étudiée pendant le premier temps de préparation, la commission d’évaluation conduit un entretien qui permet à la
    personne candidate d'analyser les besoins de l'organisation, de proposer des solutions adaptées,
    de justifier ses choix et de répondre aux questions du jury concernant son approche et sa méthodologie de travail.
  </p>
  <br>
  <p><u>Phase 2 – préparation d’une heure suivie d’un entretien de 20 minutes maximum :</u></p>
  <p style="text-align: justify"> <span class="alinea-text"> Le </span> deuxième temps de préparation permet à la personne
    candidate de réaliser, en autonomie et de manière individuelle, la solution attendue en ayant recours à l’environnement de
    travail disponible dans le centre d’interrogation.
    Au terme de la préparation, la commission procède à la recette de la solution et mène un entretien d’explicitation.
  </p>

</BaseLayout>
